<!DOCTYPE html>
<html lang="en">
<head>
  <script src="script.js" defer></script>
  <title>Document</title>
</head>
<body>
  <button type="submit" class="btn btn-success btn-block"  onclick="joinChat();">Join Video Chat</button>
  
</body>
</html>